/* Colors */
:root {
    --da-red: #ff443d;
    --lighter-red: #ff7570;
    --text-shadow-red: #ff0900;
    --text-hover-red: #ffd8d6;
  }
  
  /* Holographic Button */
  .holo-btn-reb {
    color: var(--da-red);
    font: normal 1.1em/3.11em "Electrolize", "Cultive Mono", Tahoma, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    height: 60px;
    position: relative;
    transition: all 330ms linear;
  }
  
  .holo-btn-reb:hover {
    color: var(--text-hover-red);
    text-rendering: optimizeLegibility;
  }
  
  /* Text Span */
  .holo-btn-reb .cta-x {
    width: 100%;
    display: block;
    padding: 0 29px;
    text-shadow: 0 0 30px var(--text-shadow-red);
    position: relative;
    z-index: 2;
  }
  
  /* Skewed Box */
  .skew {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    transform: skew(-20deg);
    border: 1px solid transparent;
    transition: all 330ms linear;
    box-shadow: 0 0 13px rgba(255, 9, 0, 0.6) inset;
  }
  
  .holo-btn-reb:hover .top {
    margin-top: -55px;
    animation: none;
    box-shadow: none;
  }
  
  .holo-btn-reb:hover .bottom {
    margin-top: -47px;
  }
  
  .holo-btn-reb:active .skew {
    animation: none;
    box-shadow: 0 0 22px rgba(255, 9, 0, 0.6) inset;
  }
  
  /* Top and Bottom Skew */
  .top {
    margin-top: -60px;
  }
  
  .bottom {
    margin-top: -42px;
  }
  
  /* Animation */
  @keyframes holox-reb {
    0% {
      box-shadow: 0 0 13px rgba(255, 9, 0, 0.6) inset;
    }
    50% {
      box-shadow: 0 0 14px rgba(255, 9, 0, 1) inset;
    }
    100% {
      box-shadow: 0 0 13px rgba(255, 9, 0, 0.6) inset;
    }
  }
  